<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $if(standalone-title)$
    <title>$title$</title>
    $else$
    <title>$title$ - Yoo Chung</title>
    $endif$

    <link rel="stylesheet" href="/css/default.css" />
    $if(extra-stylesheet)$
    <link rel="stylesheet" href="$extra-stylesheet$" />
    $endif$
</head>

<body>
    <main role="main">
        <h1>$title$</h1>
        $body$
    </main>

    <footer>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/updates">Updates</a>
        </nav>

        <p>Copyright &copy; 2023 Yoo Chung</p>
    </footer>
</body>

</html>